{% extends 'base.html' %} {% load static %} 
{% block title %} cxlu | crumbo {%endblock %} 
{% block styles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/cxlu.css' %}" />
{% endblock %} 

{% block body %}
<div class="profile-container">
  <div class="profile-inner-container">
    <div>
      <a href="/"><button>&larr; back home</button></a>
    </div>

    <div class="profile-left">
      <img src="../static/img/cxlu-transparent-color.png" />
    </div>
    <div class="profile-right">
      <h1>christiiina</h1>
      <p><em>she/her</em></p>
      <p>
        hi, i'm christina, altho ppl also call me xtina or tina!
      </p>
      <p>i like to draw, play guitar, climb, and listen to <a href="https://open.spotify.com/user/1229763100?si=570443848a0c4c08">music</a></p>
    </div>
  </div>
</div>
{% endblock %}
