{% extends 'base.html' %}
{% load static %}

{% block title %}
explore | crumbo
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/explore.css' %}" />
{% endblock %}

{% block body %}
<div class="explore-container">
    <a href="/"><button>&larr; back home</button></a>
    <div class="explore-title">
        <h1>food,,,</h1>
        <input type="text" placeholder="search"></input>
        <button type="submit">search</button>
        <br/><br/>
        <select name="mySelect" size="1">
            <option>all</option>
            <option>cxlu</option>
            <option>grac</option>
        </select>
    </div>
    
    {% for foodplace in foodplaces %} 
    <a href="/foodplace/1"><div class="explore-foodplace">
        <h3>{{ foodplace.name }}</h3>
        <p><em>{{ foodplace.description }}</em></p>
    </div></a>
    {% endfor %}
</div>
{% endblock %}