{% extends 'base.html' %}{% load static %}

{% block title %}
crumbo
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}



{% block body %}
<div class="home-container">
    <div class="home-content">
        <img id="home-crumbo" src="../static/img/crumbo.png"/>
        <div id="home-icons">
            <p id="home-description"><em>our food adventures :~)</em></p>
            <a href="/explore"><button id="home-explore-button">explore &rarr;</button></a>
                <img id="home-grac" src="../static/img/grac-transparent-color.png"/>
                <img id="home-cxlu" src="../static/img/cxlu-transparent-color.png"/>
        </div>
    </div>
</div>
   
{% endblock %}